
/AutoCareBackend/AutoCareBackend.API/obj
/AutoCareBackend/AutoCareBackend.API/bin
/AutoCareBackend/AutoCareBackend.Service/obj
/AutoCareBackend/AutoCareBackend.Repo/obj
/AutoCareBackend/AutoCareBackend.Repo/firebase
