
/AutoCareBackend/AutoCareBackend.API/obj
/AutoCareBackend/AutoCareBackend.API/bin
/AutoCareBackend/AutoCareBackend.Service/obj
/AutoCareBackend/AutoCareBackend.Repo/obj
/AutoCareBackend/AutoCareBackend.Repo/firebase
/AutoCareBackend/AutoCareBackend.API/firebase
/AutoCareBackend/.vs/AutoCareBackend.API/FileContentIndex
/AutoCareBackend/.vs
/AutoCareBackend/AutoCareBackend.Repo/bin
/AutoCareBackend/AutoCareBackend.Service/bin
