
/AutoCareBackend/AutoCareBackend.API/obj
/AutoCareBackend/AutoCareBackend.API/bin
/AutoCareBackend/AutoCareBackend.Service/obj
/AutoCareBackend/AutoCareBackend.Repo/obj
/AutoCareBackend/AutoCareBackend.Repo/firebase
/AutoCareBackend/.vs/AutoCareBackend.API/FileContentIndex
/AutoCareBackend/.vs
/AutoCareBackend/AutoCareBackend.Repo/bin
/AutoCareBackend/AutoCareBackend.Service/bin
AutoCareBackend/AutoCareBackend.API/firebase/autocare-firebase.json
/AutoCareAndorid/app/google-services.json

AutoCareAndorid/app/google-services.json
AutoCareAndorid/app/google-services.json
